*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.header {
  position: absolute;
  left: 13rem;
  width: calc(100% - 13rem);
  height: 6rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem 0 20px;
  
  h3 {
    font-size-adjust: 0.9;
    font-weight: 500;
  }

  input[type='text'] {
    border: none;
    background: #dddddd90;
    border-radius: 4px;
    padding: 5px 12px 7px 20px;
    outline: none;
    width: 11rem;
  }
  .searchBtn{
    position: relative;
    cursor: pointer;
  }

  .form{
    display: flex;
  }
  input[type='submit'] {
    border: none;
    background: #ee111190;
    border-radius: 4px;
    outline: none;
    margin-left: 2px;
    padding: 5px 5px 7px 5px;
    width: 40px;
    
  }

  .search-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: white;


  }
  p {
    margin-bottom: 0;
  }

  .user {
    display: flex;
    align-items: center;

    

      img {
        height: 1.3rem;
        margin: 0 10px;
        background-color: #8080805c;
        border-radius: 100%
        ;
      }

      
      
      .user-settings{
        background: #fff;
        margin-top: 10rem;
        margin-left: 28px;
        padding: 20px;
        z-index: 555;
        position: fixed;
        border-radius: 10px;
        /* border: 1px solid #88d1fa; */
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.225);
        visibility: hidden;
        cursor: pointer;
        

        p{
          font-size: 14px;
          color: #443e3e;
        }
        .first-p{
          border-bottom: 1px solid #80808057;
          padding-bottom: 9px;
        }

        p:hover{
          color: #88d1fa;
          cursor: pointer;
        }

      }

      .show{
        visibility: visible;
      }
      .user-settings::before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 84%;
        top: -22%;
        border-bottom: 10px solid #e3e0dc;
        border-top: 10px solid transparent;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        
      }
  }
}



